
# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# functions
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env.*
!.env.sample
flags
flags-file.*.yaml
!flags-file.sample.yaml

# vercel
.vercel

# typescript
*.tsbuildinfo
